body {
    background-color: black;
  }
  h1 {
    color: black;
  }
  button {
    background-color: red;
    color: white
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-radius: 20px;
    font-family: Monospace;
    font-size: large;
    
   }

  button:hover {
    background-color: rgba(196, 33, 33, 0.842);
  }
